#!/bin/sh
# Copyright 2017-2020 Wazo Team (see the AUTHORS file)
# SPDX-License-Identifier: GPLv3

case "$1" in
    build)
	python3 setup.py bdist -d dist/python3
    ;;

    package)
	tar xvf dist/wazo_dird_plugin_odoo-*.tar.gz -C ${pkgdir}
        cp -R etc ${pkgdir}/
    ;;

    install)
	systemctl restart wazo-dird
    ;;

    uninstall)
	rm -f /etc/wazo-dird/conf.d/odoo.yml
	systemctl restart wazo-dird || true
    ;;

    postrm)
    ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
